<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.supermarket.shingshing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.ocr.ayuda.AyudaCamaraActivity"></activity>
        <activity
            android:name=".main.ocr.PreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.menu.opciones.tour.AyudaTourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".crear.ValidarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.ocr.LenteSucioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.ocr.TicketErrorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.ocr.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.disponible.opciones.retiro.RetiroListoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".resultado.ResultadoListoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".resultado.ResultadoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".terminos.TerminosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".privacidad.PrivacidadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.menu.opciones.eliminar.AdiosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.menu.opciones.eliminar.EliminarCuentaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recuperar.EnviadoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recuperar.RecuperarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".crear.BienvenidoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".crear.CrearCuentaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.ocr.CaptureBarrasActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shingshing.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>